/* Styles de base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.delivery-container {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.filter button.active {
  background-color: #0056b3;
}

.filter button:hover {
  background-color: #0056b3;
}

.delivery-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.delivery-item {
  background-color: #fafafa;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.delivery-item h3 {
  margin-top: 0;
  color: #007bff;
}

.delivery-item p {
  margin: 5px 0;
}

.status {
  font-weight: bold;
}

.status.en_cours {
  color: #ff9900; /* Orange */
}

.status.livrée {
  color: #28a745; /* Vert */
}

.status.annulée {
  color: #dc3545; /* Rouge */
}

.loading,
.error {
  text-align: center;
  font-size: 1.2em;
  color: #333;
}

/* overly style for one */
/* Style pour la superposition de la livraison */
.delivery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Assure que la fenêtre flottante est au-dessus des autres éléments */
}

.delivery-overlay-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;
}

.delivery-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.delivery-address,
.delivery-status,
.delivery-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.delivery-status {
  font-weight: bold;
  color: #ffcc00; /* Statut en jaune */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.close-btn:hover {
  color: #ff0000; /* Change de couleur au survol */
}

/* ajout */
.filter {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.specifts form,
.generals {
  display: flex;
  flex-direction: row;
}
