.filter-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.filter-container input,
.filter-container select {
  padding: 8px;
  font-size: 16px;
  margin-right: 8px;
}

.livreurs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.livreur-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 600px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.livreur-image-container {
  flex: 1;
  text-align: center;
}

.livreur-image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 8px;
}

.livreur-image-container p {
  margin: 4px 0;
  font-size: 16px;
  color: #555;
}

.livreur-details {
  flex: 2;
  padding-left: 16px;
}

.livreur-details p {
  margin: 4px 0;
  font-size: 16px;
  color: #555;
}

.livreur-details button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 8px;
}

.livreur-details button:hover {
  background-color: #c0392b;
}

.linkOptions {
  position: relative;
}

/* .dropdown {
  position: relative;
  display: inline-block;
} */

.dropdown-toggle {
  background: none;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 16px;
  transition: color 0.3s ease, background-color 0.3s ease;

  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 145px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-menu li {
  padding: 8px 10px;
  text-align: left;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  /* width: 100%; */
  text-align: left;
  /* padding: 12px 16px; */
}

.dropdown-menu li button:hover {
  background-color: #f1f1f1;
}

/* POUR LE OVERLAY DU LIVREUR */
/* body {
  background-color: #2c2c2c;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.overContain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  transition: opacity 0.3s ease;
}
.overlay {
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin: 10px 5px 0 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #28a745;
  color: white;
}

button[type="button"] {
  background-color: #dc3545;
  color: white;
}

button:hover {
  opacity: 0.9;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}
/* AJOUT */
.row {
  display: flex;
  flex-direction: row;
  gap: 15%;
  margin-bottom: 20px;
}

.form-group .form-control,
.form-group .form-select {
  min-width: 100px;
}
